/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Alexandria", serif !important;
  font-optical-sizing: auto;
  background-color: #F2F8FD !important;
}


/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}

/* Tailwind css */
.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 140px;
  height: 36px;
  background-color: #1D3F5D;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  top: 8px;
  right: 20px;
  color: white;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 36px;
  background: #D6E7F5;
  border-radius: 5px;
  position: absolute;
  font-size: 16px;
  display: flex;
  justify-content: center;
  left: 0px;
  top: 0px;
  text-align: center;
  transition: all 0.3s ease;
  /* box-shadow: 0px 0px 6px -2px #111; */
  padding: 6px 0px;
  color: #222;
  font-weight: 600;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
  background-color: #1D3F5D;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 70px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}  

/* Hide scrollbar for Webkit browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* for round language btn  */
.switch-round {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.switch-round > label.btn-color-mode-round-switch-inner {
  margin: 0px;
  width: 140px;
  height: 50px;
  background-color: #1D3F5D;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.switch-round > label.btn-color-mode-round-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  top: 12px;
  right: 20px;
  color: white;
}

.switch-round > label.btn-color-mode-round-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 46px;
  background: #D6E7F5;
  border-radius: 50px;
  position: absolute;
  font-size: 16px;
  display: flex;
  justify-content: center;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  padding: 10px 0px;
  color: #222;
  font-weight: 600;
}

.switch-round input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.switch-round input[type="checkbox"]:checked + label.btn-color-mode-round-switch-inner {
  background-color: #1D3F5D;
}

.switch-round input[type="checkbox"]:checked + label.btn-color-mode-round-switch-inner:after {
  content: attr(data-on);
  left: 70px;
}

.switch-round input[type="checkbox"]:checked + label.btn-color-mode-round-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgb(0 0 0 / 32%);
}

#lightSlider {
  padding-bottom: 25% !important;
}

.lSAction{
  position: absolute !important;
  right: 0;
  bottom: 0 !important;
  display: flex !important;
  z-index: 9999 !important;
}

.lSAction a{
  filter: invert() !important;
  position: relative !important;
}

.lSAction>.lSPrev {
  left: -25px !important;
}

.lSPager{
  margin-top: -35px !important;
    margin-left: 10px;
    position: absolute !important;
}

tr td {
  padding: 15px 0px 15px 15px;
}

tr th {
  padding: 15px 0px 15px 15px;
  text-align: start;
  font-weight: 600;
}

tr td:first-child, tr th:first-child {
  border-radius: 50px 0 0 50px;
  padding: 0px 15px 0px 30px;
}

/* Round the last td */
tr td:last-child, tr th:last-child {
  border-radius: 0 50px 50px 0;
  padding: 0px 30px 0px 15px;
}